<!doctype html>
<html ng-app='minutedockr'>
<head>
  <script src='js/angular.js'></script>
  <script src='js/minutedockr.js'></script>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
  <script src='js/bootstrap.js'></script>

  <meta name='viewport' content='width=device-width, initial-scale=1' />

  <link rel='stylesheet' type='text/css' href='css/bootstrap.css' />
  <link rel='stylesheet' type='text/css' href='css/glyphicons.css' />
  <link rel='stylesheet' type='text/css' href='css/general.css' />
</head>
<body>
  <section class='intro'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='next-banner'>
            <h1>MinuteDockr <small>The next big thing is here.</small></h1>
            <img src='images/current_entry.png' />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='features' ng-controller='featuresCtrl'>
    <div class='container'>
      <div class='row kicker'>
        <div class='col-md-12'>
          <h2>Finally!</h2>
          <h3 class='text-muted'>MinuteDockr is the <a href='http://minutedock.com'>MinuteDock</a> app for Android you've been waiting for.</h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4 col-md-offset-2 descriptions'>

          <div ng-show='frame == 0'>
            <h4>So, how does it work?</h4>
            <p>If you have a MinuteDock account, you have an API key.</p>
            <p>Log in using this secret key and we'll handle the rest.</p>
            <p>Don't have a MinuteDock account? Go <a href='http://minutedock.com'>get one!</a>
          </div>
          <div ng-show='frame == 1'>
            <h4>Log time from anywhere.</h4>
            <p>We're putting the awesome power of MinuteDock's docking system in the palm of your hand.</p>
            <p><b>Tap once</b> to start or stop the timer. If you need to edit the current duration, <b>try holding down</b> on the timer.</p>
            <p>All your Contacts, Projects and Tasks are readily available so you can <em>"dock some minutes"</em> on any project, anywhere.</p>
          </div>
          <div ng-show='frame == 2'>
            <h4>You've got time, we've got management.</h4>
            <p>View all your time entries a day, week or month at a time.</p>
            <p>Need to edit or redock an entry? No problem. Just tap the entry to expose all the handy options available to you.</p>
          </div>
          <div ng-show='frame == 3'>
            <h4>Did we mention it uses bluetooth?</h4>
            <p>Would you like to be reminded to clock in when you get to work? Okay.</p>
            <p>Here's one better, we'll clock you in <b>as soon as you get to work</b> and clock you out <b>when you leave</b>. Cool, right?</p>
            <p>Or how about a <em>"Hey, it's 9:00 am. Shouldn't you be clocked in?"</em>. We've got that too.<p>
            <p>All of these features will be included for free because, well, it's Android.</p>
          </div>

        </div>
        <div class='col-md-6'>
          <div class='screenshots-wrapper'>
            <img src='images/left-arrow.png' class='arrow left' ng-click='prev(frame)' />
            <img src='images/right-arrow.png' class='arrow' ng-click='next(frame)' />
            <img src='images/login.png' width='500px' class='screenshot' ng-show='frame == 0' />
            <img src='images/current_entry.png' width='500px' class='screenshot' ng-show='frame == 1' />
            <img src='images/entries.png' width='500px' class='screenshot' ng-show='frame == 2' />
            <img src='images/settings.png' width='500px' class='screenshot' ng-show='frame == 3' />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='contact'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <h3 class='pull-left'>Coming soon to a Play Store near you.</h3>
          <a href='https://twitter.com/N8Armstrong'>
            <div class='pull-right twitter'></div>
          </a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
