---
layout: default
title: Home
---

<div class='projects-list'>
  <h2>My Work</h2>
  {% assign pages_list = site.pages %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.layout == "project" %}
        {% if node.icon contains '://' %}
          {% assign link = node.icon %}
        {% else %}
          {% assign link = site.baseurl | append: 'public/images/' | append: node.icon %}
        {% endif %}
        <div class='media'>
          <a href='{{ node.url }}'>
            <img src='{{ link }}' />
          </a>
          <div class='media-body'>
            <a class="" href="{{ node.url }}">
              <strong>{{ node.title }}</strong>
            </a>
            <br>
            <p>{{ node.subtitle }}</p>
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
