---
layout: default
title: Home
---

<div class='projects-list'>
  <h2>My Work</h2>
  {% assign pages_list = site.pages %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.layout == "project" %}
        {% if node.icon contains '://' %}
          {% assign link = node.icon %}
        {% else %}
          {% assign link = site.baseurl | append: 'public/images/' | append: node.icon %}
        {% endif %}
        <div class='media'>
          <a href='{{ node.url }}'>
            <img src='{{ link }}' />
          </a>
          <div class='media-body'>
            <a class="" href="{{ node.url }}">
              <strong>{{ node.title }}</strong>
            </a>
            <br>
            <p>{{ node.subtitle }}</p>
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}

  <h2>About Me</h2>
  <p>
    I am {{ site.time | date: '%Y' | minus: 1992 }}  years old, currently living
    in sunny St. George, Utah. I have been with <a href='http://www.custombit.com/'>Custom Bit</a>
    since January of 2013 as a Software Engineer doing Rails and iOS for their many clients while
    working on a degree in Computer Science at <a href='http://dixie.edu/'>DSU</a>.
  </p>
  <p>
    I am passionate about making apps that are a joy to use. I appreciate the value
    of well-tested and maintainable code. I like objective-c, swift, ruby, and c++ (in
    no particular order). You can contact me by email at
    <a href='mailto:natearmstrong2@gmail.com'>natearmstrong2@gmail.com</a>.
  </p>
</div>
