pre {
  overflow-x: scroll;
  white-space: pre;
  word-wrap: normal;
}

.gallery img {
  float: left;
  margin-right: 10px;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* ===== Project Styles ======= */

.project .project-icon {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 17.6%;
  height: 85px;
  width: 85px;
}

.project .project-image {
  float: left;
  margin-right: 5px;
  height: 300px;
}

.media {
  display: inline;
  float: left;
  width: 320px;
  margin: 12px 0px;
}

.media img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 17.6%;
  box-sizing: content-box;
  height: 64px;
  width: 64px;
  float: left;
  margin-right: 10px;
}

.media-body {
  overflow: hidden;
}
