.flashcard {
  height: 216px;
  -webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.38);
  -moz-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.38);
  box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.38);
  overflow: hidden; }

.icon-bar {
  background: black; }

li.spinner {
  height: 64px;
  padding-top: 30px; }
