<div class='row'>
  <div class='col-md-6'>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <p>Decks</p>
      </div>
      <ul class='list-group'>
        <a ng-repeat='d in decks' ng-click="deckCtrl.selectDeck(d)">
          <li class='list-group-item'>
            <span>{{d.name}}</span>
            <span class='badge'>{{d.cards.length}}</span>
          </li>
        </a>
      </ul>
    </div>
  </div>
  <div class='col-md-6'>
    <div ng-include="'decks/form.html'"></div>
  </div>
</div>
