<div class='row'>
  <div class='col-md-3 col-sm-6'>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <p>Decks</p>
      </div>
      <ul class='list-group'>
        <li us-spinner class='spinner list-group-item' ng-show='decksSpinner.spinning'></li>
        <a ng-repeat='d in decks' ng-href="#/decks/{{d.id}}/study">
          <li class='list-group-item'>
            <span>{{d.name}}</span>
            <span class='badge'>{{d.cards.length}}</span>
          </li>
        </a>
      </ul>
    </div>
  </div>
  <div class='col-md-5 col-sm-6'>
    <div ng-hide='deck'>
      <h2 class='text-muted'>Select a deck</h2>
    </div>
    <div class='col-md-12 flashcard' ng-show='deck' ng-swipe-left='studyCtrl.nextCard()' ng-swipe-right='studyCtrl.prevCard()' ng-click='studyCtrl.flipCard()'>
      <h1 ng-show='currentSide == "front"'>{{deck.cards[currentCardIndex][currentSide]}}</h1>
      <h4 ng-show='currentSide == "back"'>{{deck.cards[currentCardIndex][currentSide]}}</h4>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <button class='btn btn-link' ng-click='studyCtrl.flipCard()'>Flip</button>
        <button class='btn btn-link' ng-click='studyCtrl.nextCard()'>Next</button>
        <button class='btn btn-link' ng-click='studyCtrl.prevCard()'>Back</button>
      </div>
    </div>
  </div>
  <div class='col-md-4 col-sm-6 col-sm-offset-6 col-md-offset-0'>
    <div class='panel panel-default'>
      <ul class='list-group'>
        <li class='list-group-item'>
          <div class='progress'>
            <div class='progress-bar progress-bar-success' style='width: {{(currentCardIndex / deck.cards.length) * 100}}%'></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
