<!doctype html>
<html lang="en" ng-app="galleryApp">
<head>
  <meta charset="utf-8">
  <title>Gallery</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="ImageListCtrl">
  <div class='container'>
    <div class='row'>
      <!-- Sidebar -->
      <div class='col-md-3' id='sidebar'>
        <div>
          Search: <input type='text' ng-model='search.tags'>
        </div>
        <div ng-repeat='(key, value) in tags' class='tag'>
          <span ng-click="setTag(key)" class='label' ng-class="{true: 'label-primary', false: 'label-default'}[search.tags == key]">{{key}} {{value}}</span>
        </div>
      </div>

      <!-- Main -->
      <div class='col-md-9' id='main'>
        <div class='row' id='slider'>
          <div id='slides' ng-style="{'width': (photos | filter:search).length * 728 + 'px', 'margin-left': onSlide * -100 + '%'}">
            <div class='slide' ng-repeat='photo in photos | filter:search'>
              <h1>{{photo.title}}</h1>
              <a ng-href="{{photo.url_o}}">
                <img src="{{photo.url_m}}" />
              </a>
            </div>
          </div>
        </div>
        <div>
          <a ng-click="play()">Play</a> <a ng-click="pause()">Pause</a> <a ng-click="reset()">Reset</a>
        </div>
        <div id='thumbnails'>
          <div class='col-md-12'>
            <div ng-repeat="photo in photos | filter:search" class='col-md-1 thumb'>
              <img ng-click="thumbClick($index)" src="{{photo.url_sq}}" />
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>
