@font-face {
  font-family: "proxima nova";
  src: url("../fonts/Proxima Nova Regular.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "proxima nova";
  src: url("../fonts/Proxima Nova Bold.otf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "proxima nova";
  src: url("../fonts/Proxima Nova Extrabold.otf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "proxima nova";
  src: url("../fonts/Proxima Nova Semibold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "proxima nova";
  src: url("../fonts/Proxima Nova Light.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "proxima nova";
  src: url("../fonts/Proxima Nova Thin.otf");
  font-weight: 200;
  font-style: normal; }

.dangerous {
  color: #a94442 !important; }

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1135px; } }

body {
  font-family: "proxima nova"; }

a {
  color: #e2a301; }
  a:hover {
    opacity: 0.6;
    color: #e2a301; }

.intro {
  background: url("../images/crossword.png") repeat; }
  .intro .next-banner {
    height: 542px;
    overflow: hidden;
    margin-top: 100px; }
    @media screen and (max-width: 991px) {
      .intro .next-banner {
        height: 478px; } }
    @media screen and (max-width: 767px) {
      .intro .next-banner {
        height: 300px; } }
    .intro .next-banner h1 {
      text-align: center;
      color: #5e9217;
      font-weight: 900;
      font-size: 65px; }
      @media screen and (max-width: 600px) {
        .intro .next-banner h1 {
          font-size: 55px; } }
      .intro .next-banner h1 small {
        display: block;
        margin-top: -10px;
        font-size: 41px; }
        @media screen and (max-width: 600px) {
          .intro .next-banner h1 small {
            font-size: 34px; } }
    .intro .next-banner img {
      display: block;
      width: 1024px;
      margin: 0 auto;
      margin-top: 55px; }
      @media screen and (max-width: 991px) {
        .intro .next-banner img {
          width: 635px; } }

.features {
  background: url("../images/stardust_@2X.png");
  padding-bottom: 50px; }
  .features .kicker {
    margin-top: 50px;
    margin-bottom: 50px; }
    .features .kicker img {
      display: block;
      margin: 0 auto; }
      .features .kicker img.md-icon {
        margin-top: 10px;
        margin-bottom: 50px; }
      .features .kicker img.widget-preview {
        width: 326px;
        margin-bottom: 50px; }
      .features .kicker img.android-robot {
        width: 55px;
        margin: 0 20px; }
        @media screen and (max-width: 600px) {
          .features .kicker img.android-robot {
            width: 38px; } }
    .features .kicker h2, .features .kicker h3 {
      text-align: center; }
    .features .kicker h2 {
      font-size: 42px;
      color: white;
      font-weight: normal; }
    .features .kicker h3 {
      color: #bbbbbb;
      font-size: 32px;
      margin-top: -7px;
      margin-bottom: 50px; }
    .features .kicker p {
      font-size: 21px;
      color: #eeeeee;
      font-weight: 400;
      line-height: 32px; }
    .features .kicker a {
      display: block;
      padding: 10px;
      border: 2px solid;
      border-radius: 10px;
      text-align: center;
      font-size: 26px;
      margin-top: 26px;
      margin-bottom: 26px;
      line-height: 70px; }
      @media screen and (max-width: 600px) {
        .features .kicker a {
          line-height: 47px;
          font-size: 21px; } }
      .features .kicker a div {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
        margin-bottom: -30px; }
        @media screen and (max-width: 600px) {
          .features .kicker a div {
            margin-bottom: -18px; } }
    .features .kicker .free {
      font-size: 21px;
      font-weight: 600;
      text-align: center;
      margin-top: -24px;
      color: #bbbbbb;
      font-style: italic; }
    .features .kicker .description {
      margin-top: 11px; }
  .features .screenshots .screenshot {
    height: 600px;
    display: block;
    margin: 0 auto; }
    @media screen and (max-width: 600px) {
      .features .screenshots .screenshot {
        margin-left: -37px; } }

.contact {
  background: #a94442;
  padding: 15px;
  color: #dddddd; }
  .contact h3 {
    font-weight: 200; }
    .contact h3 a {
      color: #dddddd;
      text-decoration: underline; }
  .contact h4 {
    text-align: center;
    font-weight: 200;
    line-height: 38px;
    margin-top: 16px; }
  .contact .twitter {
    position: absolute;
    right: 30px;
    top: 18px;
    width: 30px;
    height: 30px;
    background: url("../images/twitter.png");
    background-size: 30px 30px;
    opacity: 0.6; }
    .contact .twitter:hover {
      opacity: 1;
      cursor: pointer; }
